# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
Hero Tinker Air13/App.config
*.dll
Hero Tinker Air13/bin/Debug/Ensage.Common.pdb
*.config
Hero Tinker Air13/bin/Release/Ensage.Common.pdb
*.exe
Hero Tinker Air13/bin/Debug/Tinker_Air13.pdb
*.manifest
Hero Tinker Air13/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.txt
*.cache
Hero Tinker Air13/obj/Debug/Tinker_Air13.pdb
*.cs
